{{ define "header" }}<!-- No header on 404 pages -->{{ end }}
{{ define "main" }}
  <div role="main" class="container main-content">
    <div class="text-center">
      <h1>{{ i18n "pageNotFound" }}</h1>
      <br/>
      <p>Hey you, you seem a bit lost. Why don't you go back to <a href={{ "" | absLangURL }}>the home page</a>?</p>
    </div>
  </div>
{{ end }}

